
@tailwind base;
@tailwind components;
@tailwind utilities;

.icons{
    @apply lg:w-72 lg:h-72 bg-no-repeat bg-contain absolute
}

.navItem{
    @apply w-full flex flex-col justify-between p-4 md:pt-8 h-full rounded-3xl relative cursor-pointer overflow-hidden 
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animated-gradient {
    background-image: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(0,255,127,1) 25%, rgb(255, 187, 0) 30%, rgba(0,255,255,1) 50%, rgb(195, 0, 255) 65%, rgba(255,105,180,1) 75%, rgba(255,20,147,1) 100% );
    animation: gradientShift 6s ease-in-out infinite;
  }
  
  